{% extends "base.html" %}

{% block title %}
Detalhes do Engagement
{% endblock %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <h1>Detalhes do Engagement</h1>

    <p>Cliente: {{ engagement.cliente }}</p>
    <p>Referência: {{ engagement.engagement_referencia }}</p>
    <p>Autorização: {{ engagement.pdf_assinado }}</p>


    <a href="{% url 'engagement_update' engagement.pk %}" class="btn btn-primary">Editar Engagement</a>

    <!-- Adicione aqui qualquer outra informação que deseja exibir sobre o Engagement -->

    <h2>Pedidos de Terceiros Associados:</h2>
    <p><a href="{% url 'criar_pedido_terceiro' engagement.pk %}">Criar Pedido Terceiro</a></p>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Terceiro</th>
                <th scope="col">Contacto</th>
                <th scope="col">Email</th>
                <th scope="col">Data 1º Envio</th> 
                <th scope="col">Data Último Envio</th>
                <th scope="col">Data Resposta</th> 
                <th scope="col">Estado</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in engagement.pedidoterceiros_set.all %}
                <tr>
                    <th scope="row">{{ pedido.terceiro }}</td>
                    <td>{{ pedido.contacto }}</td>
                    <td>{{ pedido.email }}</td>
                    <td>{{ pedido.primeiro_envio | date:"Y-m-d H:i"}}</td>
                    <td>{{ pedido.ultimo_envio | date:"Y-m-d H:i"}}</td>
                    <td>{{ pedido.respondido | date:"Y-m-d H:i"}}</td>
                    <td>{% if pedido.conciliado_cliente == 1 and pedido.conciliado_cliente_titulos == 1 and pedido.conciliado_fornecedor == 1 and pedido.conciliado_fornecedor_titulos == 1 and pedido.conciliado_odc == 1 and pedido.conciliado_outros == 1 %}
                        <i class="bi bi-check-circle"></i>
                        {% else %}
                        <i class="bi bi-x-circle"></i>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'pedidoterceiro_editar' pedido.pk %}"><i class="bi bi-pencil"></i></a></td>
                        <!-- <a href="{% url 'enviar_email_registro' pedido.pk %}"><i class="bi bi-send"></i></a> -->
                    <td><form method="post" action="{% url 'enviar_email_registro' pedido.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link btn-sm"><span class="bi bi-send"></span></button>
                        </form>
                    
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum registro associado.</td>
                </tr>
                <a href="{% url 'importar_csv_engagement' engagement.pk %}" class="btn btn-primary">Importar CSV</a>
            {% endfor %}
        </tbody>
    </table>
    <h2>Enviar E-mails:</h2>
    <form method="post" action="{% url 'enviar_emails_engagement' engagement.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Enviar E-mails</button>
    </form>
    {% if messages %}
   <script>
    {% for message in messages %}
    alert("{{message}}")
    {% endfor %}
    </script>
    {% endif %}
{% endblock %}