{% extends "base.html" %}

{% block title %}
Lista de Engagements
{% endblock %}

{% block content %}

<h1>Lista de Engagements</h1>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Referência</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Importar CSV</th>
        </tr>
    </thead>
    <tbody>
        {% for engagement in engagements %}
            <tr>
                <td>{{ engagement.cliente }}</td>
                <td>{{ engagement.engagement_referencia }}</td>
                <td><a href="{% url 'engagement_detail' engagement.pk %}">Detalhes</a></td>
                <td><a href="{% url 'engagement_update' engagement.pk %}">Editar</a></td>
                <td><a href="{% url 'importar_csv_engagement' engagement.pk %}">Importar CSV</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}