{% extends "base.html" %}

{% block title %}
Editar Registro
{% endblock %}

{% block content %}
    <h1>Editar Pedido de Terceiro</h1>
    <div class="container">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="saldo_contabilidade_cliente" class="col-sm-3 col-form-label">Saldo Contabilidade Cliente:</label>
                    <div class="col-sm-8">
                        <!-- <input type="text" readonly class="form-control-plaintext" id="saldo_contabilidade_cliente" value="{{ pedidoterceiro.saldo_contabilidade_cliente }}"> -->
                        <input type="text" class="form-control-plaintext" readonly id="saldo_contabilidade_cliente" value="{{ pedidoterceiro.saldo_contabilidade_cliente }}">
                    </div>

                    <label for="saldo_resposta_fornecedor" class="col-sm-3 col-form-label">Saldo Resposta Fornecedor:</label>
                    <div class="col-sm-8">
                        <input type="text" id="saldo_resposta_fornecedor" name="saldo_resposta_fornecedor" value="{{ pedidoterceiro.saldo_resposta_fornecedor }}">
                    </div>
                    <label for="extrato" class="col-sm-3 col-form-label">Extrato:</label>


                </div>
        
                <input type="submit" value="Salvar Alterações">
            </form>
        
            <a href="{% url 'engagement_detail' pedidoterceiro.engagement.pk %}">Voltar à Página do Engagement</a>
        </div>
        


{% endblock %}