{% extends "base.html" %}

{% block title %}
Editar Registro
{% endblock %}

{% block content %}
    <h1>Editar Pedido de Terceiro</h1>
    <div class="container">
        <div class="container">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="table-responsive">
                    <table>
                        <thead>
                            <th>Tipo</th>
                            <th>Saldo CTB:</th>
                            <th>Saldo Resposta:</th>
                            <th>Extrato:</th>
                            <th>Diferença:</th>
                            <th>Movs. CTB:</th>
                            <th>Movs. Terceiro:</th>
                            <th>Dif. Final:</th>
                            <th>Conciliado</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Cliente</b></td>
                                <td><input type="text" class="form-control-plaintext" readonly id="saldo_contabilidade_cliente" value="{{ pedidoterceiro.saldo_contabilidade_cliente }}"></td>
                                <td><input type="text" class="form-control-plaintext" readonly id="saldo_resposta_cliente" value="{{ pedidoterceiro.saldo_resposta_cliente }}"></td>
                                <td><input type="text" class="form-control-plaintext" readonly id="anexo_resposta_cliente" value="{{ pedidoterceiro.anexo_resposta_cliente }}"></td>
                                <td><input type="text" class="form-control-plaintext" readonly id="dif_inicial_cliente" value="{{ pedidoterceiro.anexo_resposta_cliente }}"></td>
                                <td><input type="text" class="form-input" readonly id="movsctb_cliente" value="{{ pedidoterceiro.movsctb_cliente }}"></td>
                                <td><input type="text" class="form-input" readonly id="movsterceiro_cliente" value="{{ pedidoterceiro.movsterceiro_cliente }}"></td>
                                <td><input type="text" class="form-control-plaintext" readonly id="dif_final_cliente" value="{{ pedidoterceiro.anexo_resposta_cliente }}"></td>
                                <td><input type="text" class="form-check-input" id="conciliado_cliente" value="{{ pedidoterceiro.conciliado_cliente }}"></td>
                            </tr>
                        </tbody>
                    </table>
{% comment %}                     
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">Cliente<label>
                    </div>
                    <div class="col">
                        <!-- <input type="text" readonly class="form-control-plaintext" id="saldo_contabilidade_cliente" value="{{ pedidoterceiro.saldo_contabilidade_cliente }}"> -->
                        <input type="text" class="form-control-plaintext" readonly id="saldo_contabilidade_cliente" value="{{ pedidoterceiro.saldo_contabilidade_cliente }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control-plaintext" readonly id="saldo_resposta_cliente" value="{{ pedidoterceiro.saldo_resposta_cliente }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control-plaintext" readonly id="anexo_resposta_cliente" value="{{ pedidoterceiro.anexo_resposta_cliente }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control-plaintext" readonly id="dif_inicial_cliente" value="{{ pedidoterceiro.anexo_resposta_cliente }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-input" readonly id="movsctb_cliente" value="{{ pedidoterceiro.movsctb_cliente }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-input" readonly id="movsterceiro_cliente" value="{{ pedidoterceiro.movsterceiro_cliente }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control-plaintext" readonly id="dif_final_cliente" value="{{ pedidoterceiro.anexo_resposta_cliente }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-check-input" id="conciliado_cliente" value="{{ pedidoterceiro.conciliado_cliente }}">
                    </div> {% endcomment %}
                </div>
        
                <input type="submit" value="Salvar Alterações">
            </form>
        
            <a href="{% url 'engagement_detail' pedidoterceiro.engagement.pk %}">Voltar à Página do Engagement</a>
        </div>
    </div>
        


{% endblock %}